<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gitiscrmbigquery-pr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6187da35-bea7-4afe-9855-b3214a528975/resourcegroups/rg-t1pr-gitis/providers/Microsoft.Web/sites/GitisCRMBigQuery-PR</ResourceId>
    <UserName>$GitisCRMBigQuery-PR</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gitiscrmbigquery-pr.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net48</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>