<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gitiscrmbq-dv.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50447d16-a210-4d55-a32f-59b416d50428/resourceGroups/rg-t1dv-gitis/providers/Microsoft.Web/sites/GitisCRMBQ-DV</ResourceId>
    <UserName>$GitisCRMBQ-DV</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://gitiscrmbq-dv.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>